.search-container {
    display: flex;
    background-color: #000;
    color: #FFF;
    height: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-container input {
    background-color:  	#999999;
    color: #FFF;
    border-radius: 50px;
    float: right;
    width: 70%;
}

.search-title {
    flex-grow: 1;
    font-size: 24px;
}

.search-title img {
    width: 50%;
}

.search-input {
    margin-left: auto;
    flex-grow: 1;
}

@media only screen and (min-width: 480px) {
    .search-container input {
        width: 50%;
        font-size: 28px;
    }

    .search-title {
        font-size: 38px;
    }

    .search-container {
        height: 80px;
    }

    .search-title img {
        width: 25%;
    }
}