.header-container {
    display: flex;
    background-color: #000;
    color: #FFF;
    height: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-container input {
    background-color:  	#999999;
    color: #FFF;
    border-radius: 50px;
    float: right;
    width: 70%;
    padding-left: 10px;
}

.header-title {
    flex-grow: 1;
}

.header-title a {
    text-decoration: none;
    color: #FFF;
    font-size: 24px;
 }

.header-title img {
    width: 50%;
}

.header-input {
    margin-left: auto;
    flex-grow: 1;
}

@media only screen and (min-width: 480px) {
    .header-container input {
        width: 50%;
        font-size: 24px;
    }

    .header-title a {
        font-size: 38px;
    }

    .header-container {
        height: 80px;
    }

    .header-title img {
        width: 25%;
    }
}