.search-title {
    color: #FFF;
    font-size: 18px;
    margin-bottom: 16px;
}

.search-news-container {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 160px;
  }
    
  @media only screen and (min-width: 480px) {
    .search-news-container {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 280px;
      justify-content: space-evenly;
    }

    .search-title {
      font-size: 32px;
    }
  }