.card-article-image {
    z-index:0;
    background-image: url("../images/empty.png");
    background-repeat: no-repeat;
    height: 160px;
    max-width: 240px;
    width: 100%;
}
.card-container {
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
}
.card-article-header {
    position: absolute;
    top: 80px;
    bottom: 0px;
    display: block;
    z-index: 70;
    height: 80px;
    width: 100%;
    opacity: 0.9;
    background-color: rgba( 0, 0, 0, 0.3);
}
.card-article-header.text {
    color: #FFF;
    font-weight: 900;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-article-image img {
    width: 240px;
    height: 240px;
    object-fit: cover;
    box-sizing: border-box;
}

@media only screen and (min-width: 480px) {
    .card-container {
        position: inherit;
        max-width: 240px;
        height: 320px;
    }

    .card-article-image img {
        max-height: 160px;
    }

    .card-container:hover {
        transform: scale(1.05);
        transition-duration: 0.2s;
    }

    .card-article-header {
        box-sizing: border-box;
        border: 1px solid #000;
        height: 80px;
        background-color: #666666;
        position: relative;
        top: 0;
    }

    .card-article-header.text {
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    
}